body {
    font-family: 'Roboto', sans-serif;
}


img {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.pic-header {
    font-size: 2rem;
    color: #417fc2;
}

.pic-body-text {
    font-size: 1.1rem;
}

#pic-container {
    width: 90%;
}

.pic {
    margin-bottom: 6rem;
}

.demoImgLeft, .demoImgRight {
    opacity: 0;
}

.profile {
    width: 10rem;
    height: 10rem;
    opacity: 0;
}

h1 {
    color: #417fc2;
}

.team, footer {
    background-color: #AEDAF9;
}

header {
    background-color: #F39741;
}

#sub-header-text {
    color: #FFFFFF;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.ischool-logo {
    max-width: 10rem;
}